<form action="/payment/results">
  <label for="apr">APR </label>
  <input id="apr" type ="text" placeholder="E.g. 5.42?" name="userApr"><br>
  <label for="term">Number of years</label>
  <input id="term" type ="text" placeholder="How many years to repay?" name="userYears"><br>
  <label for="principal">Principal</label>
  <input id="principal" type ="text" placeholder="How much principal?" name="userPV"><br>

  <button>Calculate monthly payment</button>
</form>
