<h1>Random Results</h1>

<dl>
  <dt>Minimum</dt>
    <dd><%= @numMin%></dd>
  <dt>Maximum</dt>
    <dd><%= @numMax%></dd>
  <dt>Random Number</dt>
    <dd><%=@randomNum%></dd>
</dl>

<a href="/random/new">Pick another random number</a>
