<form action="/square/results">
  <label for="squareThis">Enter a number</label><br>
  <input id="squareThis" type ="text" placeholder="What number do you want to square?" name="userInput"><br>

  <button>Calculate square</button>
</form>
