<form action="/square_root/results">
  <label for="sqRtThis">Enter a number</label>
  <input id="sqRtThis" type ="text" placeholder="What number do you want to square root?" name="userInput"><br>

  <button>Calculate square root</button>
</form>
